body {
	text-align: center;
	background-color: #f1f1f1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
	width: 780px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #790000;
	text-decoration: none;
}

a:hover {
	color: #cf0000;
	text-decoration: none;
}

img {
	border: 0px;
}

table.form {
	margin: 10px;
	border: 1px #aaaaaa solid;
	background: #e0e0e0;
	padding: 4px;
	font-size: 11px;
	color: #555555;
	margin-left: auto;
	margin-right: auto;
}

table.form input {
	border: 1px solid #aaaaaa;
	background-color: #f7f7f7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 130px;
	height: 20px;
	margin: 0px;
}

table.form select {
	border: 1px solid #aaaaaa;
	background-color: #f7f7f7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 130px;
	height: 20px;
	margin: 0px;
}

table.form input.button {
	width: 65px;
	height: 18px;
	border: 0px;
	font-size: 11px;
	background-color: #e0e0e0;
	font-weight: bold;
}

table.default {
	margin: 15px;
	border: 1px #aaaaaa solid;
	border-collapse: collapse;
	background: #e0e0e0;
	font-size: 11px;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table.default thead {
	background: #d0d0d0;
	font-weight: bold;
	text-align: center;
}

table.default thead a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

img.balloon {
	vertical-align: middle;
}

img.star {
	vertical-align: -1px;
	margin-right: 3px;
}

table.default tbody tr:nth-child(odd) {
	background: #efefef;
}

table.default td {
	padding: 4px;
	border-left: 1px dashed #aaaaaa;
	border-right: 1px dashed #aaaaaa;
}

tr.coming td {
	font-style: oblique;
}

tr.running td {
	background: #ccffd0;
}

tr.highlight td {
	background: #ccffd0;
}

td.accepted {
	background: #ccffd0;
	text-align: center;
}

td.wrong {
	background: #ffd0d0;
	text-align: center;
}

p.timeleft {
	margin: 0px;
	text-align: center;
}

p.frozen {
	margin: 0px;
	font-weight: bold;
	color: #5498b9;
	text-align: center;
}

p.super {
	margin: 0px;
	font-weight: bold;
	color: #cf0000;
	text-align: center;
}

p.error {
	color: #cf0000;
	text-align: center;
}

p.notify {
	text-align: center;
}

#header {
	text-align: center;
	margin: 0px;
	top-margin: 0px;
}

#header h1 {
	padding: 15px;
	margin: 0px;
}

#content {
	border-left: solid 1px #dedede;
	border-right: solid 1px #dedede;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	text-align: left;
}

#content h1 {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

#footer {
	border-top: solid 1px #dedede;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
	text-align: center;
}

#footer p {
	margin: 0px;
}

/************************************
 * TAB BAR
 ***********************************/
ul.tab, ul.tab li{border:0; margin:0; padding:0; list-style:none;}
ul.tab {border-bottom:solid 1px #DEDEDE; height:29px; padding-left:20px;}
ul.tab li {float:left; margin-right:2px;}
.tab a:link, .tab a:visited {
	background:url(img/tab-round.png) right 60px;
	color:#666666;
	display:block;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.tab a span{
	background:url(img/tab-round.png) left 60px;
	display:block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
.tab a:hover {
	background:url(img/tab-round.png) right 30px;
	display:block;
}
.tab a:hover span {
	background:url(img/tab-round.png) left 30px;
	display:block;
}

ul.tab .active a:link, ul.tab .active a:visited, ul.tab .active a:visited, ul.tab .active a:hover {
	background:url(img/tab-round.png) right 0 no-repeat;
} 

ul.tab .active a span, ul.tab .active a:hover span{
	background:url(img/tab-round.png) left 0 no-repeat;
}

#logout, #logout a:link, #logout a:visited, #logout span {
	background: none;
	float: right;
}

#logout a:hover {
	color: #cf0000;
}
